

    <div class="sidebar">
      <div class="sidebar-wrapper">
        <div class="logo">
        <h3>
        uia control
        </h3>
        </div>

        <ul class="nav">
        {% if request.user.is_authenticated %}

          <li class="{% if 'index' in segment %} active {% endif %}">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>panel administrativo</p>
            </a>
          </li>
          <li class="{% if 'icons' in segment %} active {% endif %}">
            <a href="/ui-icons.html">
              <i class="tim-icons icon-atom"></i>
              <p>fechas de pago</p>
            </a>
          </li>
          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="/ui-notifications.html">
              <i class="tim-icons icon-bell-55"></i>
              <p>notificaciones</p>
            </a>
          </li>
          <li class="{% if 'page-user' in segment %} active {% endif %}">
            <a href="{% url 'profile' %}">
              <i class="tim-icons icon-single-02"></i>
              <p>perfil de usuario</p>
            </a>
          </li>
          <li class="{% if 'tables' in segment %} active {% endif %}">
            <a href="{% url 'calificacion' %}">
              <i class="tim-icons icon-puzzle-10"></i>
              <p>Calificaciones</p>
            </a>
          </li>
          <li class="{% if 'rtl-support' in segment %} active {% endif %}">
            <a href="/page-rtl-support.html">
              <i class="tim-icons icon-world"></i>
              <p>calendario escolar</p>
            </a>
          </li>
          <li class="{% if 'notifications' in segment %} active {% endif %}">
            <a href="/ui-notifications.html">
              <i class="tim-icons icon-spaceship"></i>
              <p>cursos</p>
            </a>
          </li>
          <li>
            <a href="{% url 'logout' %}" >
              <i class="tim-icons icon-button-power"></i>
              <p>salir</p>
            </a>
          </li>
          {% else %}
          <li class="active">
            <h3>uia control</h3> 
          </li>   
        {% endif %}
                    
        </ul>
        
      </div>
    </div>
